/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

/*Сбрасываем все изначальные параметры любого браузера*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*Шрифты*/

/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'),
    url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/roboto-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'),
    url('../fonts/roboto-v20-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/roboto-v20-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-900 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: local('Roboto Black'), local('Roboto-Black'),
    url('../fonts/roboto-v20-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/roboto-v20-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/*Подключаем модель расчёта размера блока box-sizing со значением border-box*/
/*В случае паддингов не будет увеличиваться блок, размер его будет сохраняться*/

html {
    box-sizing: border-box;
}

/*Здесь мы наследуем от предыдыдущего свойства box-sizing для всех элементов*/

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: Roboto;
    font-style: normal;
    font-size: 18px;
    line-height: 144.2%;
    font-weight: normal;
}

.wrapper {
    max-width: 1770px;
    margin: 0 auto;
}

/*Стили для header*/

.header {
    background-color: #3744BD;
}

.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 90px;
}

.header__list {
    display: flex;
    flex-wrap: wrap;
}

.header__item {
    margin-right: 75px;
}

.header__item:last-child {
    margin-right: 0;
}

.header__link {
    font-size: 18px;
    line-height: 144.2%;
    color: white;
    text-decoration: none;
}

.header__list-tool {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 46px;
}

/*Стили для Main*/

main {
    height: 100vh;
}

.main__day {
    position: absolute;
    width: 1296px;
    height: 1080px;
    background-color: red;
}

.main__time-track {
    position: relative;
    margin-top: 142px;
    margin-left: 1296px;
    width: 474px;
    height: 363px;
    background-color: green;
}

.main__google {
    background-color: black;
    width: 474px;
    height: 655px;
    margin-left: 1296px;
}

.main__day-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main__day-data {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 197px;
    height: 58px;
    margin-left: 24px;
    color: #3744BD;
    background: #F0F3F5;
    border-radius: 30px;
    font-weight: 500;
}

.main__day-data-cal {
    margin-left: 18px;
}

.main__data-select {
    display: flex;
    flex-wrap: wrap;
}

.main__data-select-all {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4F4F4F;
    width: 79px;
    height: 47px;
    background: #F0F3F5;
    border-radius: 30px;
    font-weight: 500;
    margin-right: 228px;
}

.main__data-select-fav {
    color: #BBBBBB;
}